/* DA TOGLIERE ALLA FINE */

div.border .row .col-1{
    border: 1px solid blue;
}

/* TOLGO BACKGROUND */

header{
    background-color:  magenta;
    height: 50px;
}
section.aside{
    background-color: aqua;
    width: 80px;
    height: calc(100vh - 50px) ;
}

main{
    width: calc(100vw - 80px);
    height: calc(100vh - 50px) ;
}

.main-header{
    width: 100%;
    height: 100px;
    background-color: rgb(27, 114, 232);
}

.wrapper{
    display: flex;
    flex-wrap: wrap;
}

table img{
    width: 10%;
    margin: 0 0.5rem;
}


/* MEDIA MD */
@media screen and (min-width: 768px) {
    
}

/* MEDIA LG */

@media screen and (min-width: 992px) {

    section.aside{
    background-color: aqua;
    width: 100px;
}

main{
    width: calc(100vw - 100px);
}
}