/* TOLGO BACKGROUND */

section.aside{
    background-color: rgb(5, 30, 52);
    width: 80px;
    height: calc(100vh - 50px) ;
    background-image: url(../img/sidebar-bg.png);
}

nav.navbar img{
    width: 7%;
}

#offcanvasRight{
    width: 100%;
}

.my_w-85{
    width: 85%;
}

section.aside span{
    color: white;
    font-size: small;
}

main{
    width: calc(100vw - 80px);
    height: calc(100vh - 50px) ;
    overflow: scroll;
}

.main-header span,
.main-header h4,
.main-header p,
.main-header button{
    color: white;
}

.main-header{
    width: 100%;
    background-color: rgb(27, 114, 232);
}

.my_btn-blue{
    background-color: rgb(22, 91, 186) ;
    border: 1px solid rgb(22, 91, 186);
}

.wrapper{
    display: flex;
    flex-wrap: wrap;
}

table img{
    width: 10%;
    margin: 0 0.5rem;
}


/* MEDIA MD */
@media screen and (min-width: 768px) {
    table td:first-child{
    width: 50%;
    }
    
}

/* MEDIA LG */

@media screen and (min-width: 992px) {

    section.aside{
    width: 100px;
}

main{
    width: calc(100vw - 100px);
}

table td:first-child{
    width: 47%;
    }

    nav.navbar img{
        width: 10%;
    }
    section.aside .m-2:hover{
        background-color: grey;
        border: 1px solid grey;
    }

    .form-control{
        width:88%
    }

    #offcanvasRight{
        width: 75%;
    }
}